<div ng-include="'views/header.html'"></div>
<div ng-include="'views/sidebar.html'"></div>
<div id="wrapper">

<div id="page-content-wrapper">
<div class="container-fliud" ng-controller="layoutCtrl">
   <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 style="margin:0;padding:0">Login Form</h3>
            </div>
            <div class="panel-body">
               <form name="queryform" novalidate>
                  <div class="form-group" ng-class="{'has-error' : queryform.email.$invalid && (queryform.email.$dirty || submitted)}">
                     <div class="form-group">
                        <label>Email address</label>
                        <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="Email" ng-maxlength="100" ng-minlength="2" ng-required="true">
                        <p ng-show="queryform.email.$error.required && (queryform.email.$dirty || submitted)" class="help-block">Email is Required</p>
                        <p ng-show="queryform.email.$error.maxlength && (queryform.email.$dirty || submitted)" class="help-block">Email is too Long</p>
                        <p ng-show="queryform.email.$error.minlength && (queryform.email.$dirty || submitted)" class="help-block">Email is too Short</p>
                     </div>
                     <div class="form-group" ng-class="{'has-error' : queryform.username.$invalid && (queryform.username.$dirty || submitted)}">
                        <label>Password</label>
                        <input type="password" ng-model="user.password" name="username" class="form-control" placeholder="Password" ng-maxlength="100" ng-minlength="2" ng-required="true">
                        <p ng-show="queryform.username.$error.required && (queryform.username.$dirty || submitted)" class="help-block">Password Required</p>
                        <p ng-show="queryform.username.$error.maxlength && (queryform.username.$dirty || submitted)" class="help-block">Password is Maximun</p>
                        <p ng-show="queryform.username.$error.minlength && (queryform.username.$dirty || submitted)" class="help-block">Password is Less</p>
                     </div>
                     <div class="form-group">
                        <button type="submit" ng-disabled="queryform.$invalid" ng-click="usersubmit()" class="btn btn-success"> Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 style="margin:0;padding:0"> Daily States</h3>
            </div>
            <div class="panel-body">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, fugiat, dolores, laborum sit.
               </p>
               <ul class="list-group">
                  <li class="list-group-item"><span class="label label-danger"><i class="fa fa-dollar"></i></span> <span class="badge badge-danger"><i class="fa fa-angle-right"></i></span>Cras justo odio</li>
                  <li class="list-group-item"><span class="label label-primary"><i class="fa fa-gift "></i></span> <span class="badge badge-danger"><i class="fa fa-angle-right"></i></span> Dapibus ac facilisis in</li>
                  <li class="list-group-item"> <span class="label label-warning"><i class="fa fa-beer"></i></span> <span class="badge badge-danger"><i class="fa fa-angle-right"></i></span> Morbi leo risus</li>
                  <li class="list-group-item"> <span class="label label-info"><i class="fa fa-instagram"></i></span> <span class="badge badge-danger"><i class="fa fa-angle-right"></i></span> Porta ac consectetur ac</li>
                  <li class="list-group-item"> <span class="label label-success"><i class="fa fa-bell"></i></span> <span class="badge badge-danger"><i class="fa fa-angle-right"></i></span> Vestibulum at eros</li>
               </ul>
            </div>
         </div>
      </div>
   
   <div class="col-md-3 col-sm-6 col-xs-12">
     <div class="panel panel-default">
            <div class="panel-heading">
               <h3 style="margin:0;padding:0">Progress Stats</h3>
            </div>
            <div class="panel-body">
                    <div>
             	    <span class="pull-right">10.7%</span>
				    <progress class="progress progress-bar-striped progress-bar-animated progress-bar-success" value="10" max="100"></progress>
				    </div>
				    <div>
             	    <span class="pull-right">25.7%</span>
				    <progress class="progress progress-bar-striped progress-bar-animated progress-bar-warning" value="25" max="100"></progress>
				    </div>
					<div>
             	    <span class="pull-right">40.7%</span>
				    <progress class="progress progress-bar-striped progress-bar-animated progress-bar-primary" value="40" max="100"></progress>
				    </div>
					<div>
             	    <span class="pull-right">55.7%</span>
				    <progress class="progress progress-bar-striped progress-bar-animated progress-bar-danger" value="55" max="100"></progress>
				    </div>
					
            </div>
         </div>
         <div class="panel custom-border">
		 	<div class="panel-body">
		 		<h5>Revenue</h5>
		 		<h2>$53,689 <span class="label label-danger pull-right"><i class="fa fa-dollar"></i></span></h2>
		 		<h5><i class="fa fa-clock-o"></i> Update Now</h5>
		 		
		 	</div>
		 </div>
		 <div class="panel custom-border">
		 	<div class="panel-body">
		 		<h5>Total Sale</h5>
		 		<h2>$470 <span class="label label-success pull-right"><i class="fa fa-gift"></i></span></h2>
		 		<h5><i class="fa fa-clock-o"></i> Update Now</h5>
		 		
		 	</div>
		 </div>
		 <div class="panel custom-border">
		 	<div class="panel-body">
		 		<h5>Inquiries</h5>
		 		<h2>$470 <span class="label label-primary pull-right"><i class="fa fa-envelope-o"></i></span></h2>
		 		<h5><i class="fa fa-clock-o"></i> Update Now</h5>
		 		
		 	</div>
		 </div>
   </div>
   <div class="col-md-3 col-sm-6 col-xs-12">
     <div class="panel-body custom-border">
     	<h3 style="margin:0;padding-bottom:10px;border-bottom:1px solid #ddd">Tasks <i class="fa fa-plus-square pull-right" aria-hidden="true"></i> </h3>
     	<div class="custom-border panel-body m-tp10 m-btm10">
     		<p> A blessing or just peace of mind. Legend has it that the Mughal emperor, Akbar came here to the saint in the 16 th century in quest.</p>
     		<span class="pull-right" data-provide="datepicker"><button type="btn btn-rounded btn-circle btn-success"> <i class="fa fa-calendar"></i> </button></span>
     	</div>
     	<div class="custom-border panel-body m-btm10">
     		<p>Fusce pellentesque congue justo in rutrum. Ut facilisis orci lorem. Cras eget orci sit amet eros interdum malesuada.</p>
     		<span class="pull-right" data-provide="datepicker"><button type="btn btn-rounded btn-circle btn-success"> <i class="fa fa-calendar"></i> </button></span>
     	</div>
     	<div class="custom-border panel-body m-btm10">
     		<p>Cras rutrum scelerisque auctor. Donec ultricies blandit venenatis. Nulla facilisi. Praesent diam diam, venenatis lorem par.</p>
     		<span class="pull-right" data-provide="datepicker"><button type="btn btn-rounded btn-circle btn-success"> <i class="fa fa-calendar"></i> </button></span>
     	</div>
	 </div>
	 <div class="panel-body custom-border m-tp10 m-btm10 text-center">
	 	<h1 class="text-black">$1 206,90</h1>
	 	<h4 class="text-success">All Income</h4>
	 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</p>
	 </div>
     </div>
   </div>
</div>
</div>
</div>
<div ng-include="'views/footer.html'"></div>
<script type="text/javascript">
	$('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>