 <div id="sidebar-wrapper" ng-controller="MainCtrl">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
               <li ng-repeat="menu in sidenav"><a  href="{{menu.state}}"><i class="fa {{menu.icon}}"></i> <span class="text_menu"> {{menu.listitem}}</span> </a></li>
            </ul>
         </div>